$font-size: 18px/24px Nunito Sans;
$body-bg: #FFFFFF;
$box-shadow: 0px 16px 48px #00000029;
$text: normal normal 600 23px/31px Nunito Sans;
$font-family: 'Nunito Sans', sans-serif;
$gap: 40px;
$box-shape: 0% 0% no-repeat padding-box;

[hidden]{
    display:none;
}

* {
    box-sizing: border-box;
    font-family: $font-family;
    opacity: 1;
}

body {
    background-color: $body-bg;
}

#navbar {
    row-gap: $gap;
}

.container {
}

.footer {
    background-color: #000000;
    color: white;
    height: 350px;
    width: 100%;
    padding-top: 280px;
    padding-bottom: 50px;
}

.footer-text {
    font: normal normal bold $font-size;
    height: 24px;
    text-align: center;
}

ul > li {
    list-style-type: none;
}

.review-name {
    font: normal normal 600 13px/18px Nunito Sans;
}

.review-designation {
    font: normal normal 600 13px/18px Nunito Sans;
    letter-spacing: 0px;
    color: #615C5C;
}
.review-box {
    background: #F8FAFC $box-shape;
    box-shadow: 0px 16px 48px #00000029;
    width: auto;
    height: 100%;
    border-radius: 42px;
    padding: 24px;
}

.section-1 {
}

.review-header {
    font: normal normal 900 25px/34px Nunito Sans;
    padding-bottom: 24px;
}

.section-text {
    margin-top:10px;
    font: normal normal normal 21px/28px Nunito Sans;
}
.section-1-text {
    letter-spacing: 0px; 
    text-align: justify;
    font: normal normal normal $font-size;
}
.section-1-header {
    /* UI Properties */
    text-align: left;
    font: normal normal 900 40px/54px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.box-content {
    width: 320px;
    background: #FFFFFF $box-shape;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 19px;
    padding-bottom: 10px;
}

.review-box-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    height: auto;
    padding-bottom: 35px;
    padding-left: 27px;
    padding-right: 21px;
    background: #FFFFFF $box-shape;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 30px;
    row-gap: 35px;
}


.section-3 {
    padding: 10px;
}
.box-header {
    margin-top: 18px;
    font: normal normal bold 18px/24px Nunito Sans;
}

.review-box-text {
    font: normal normal normal 13px/18px Nunito Sans;
    padding-left: 20px;
    padding-right: 20px;
}
.header {
    font: normal normal bold 24px/32px Nunito Sans;
}

.button-box {
    margin-top: 10px;
    background: #1492E6 $box-shape;
    box-shadow: $box-shadow; 
    border-radius: 33px;
    width: 247px;
    height: 65px;
}

.button-text {
    font: $text;
}
.boxes {
    row-gap: $gap;
    column-gap: $gap;
    margin: auto;
}
.text-box {
    font: normal regular 18px Nunito Sans;
}
.mask_group {
    margin-left: 65px;
    width: 509px;
    height: 518px;
}

@mixin container {
    align-items: center;
    margin: auto;
}

@mixin display_none {
    display: none;
}

@mixin small-screens {
    .container {
        @include container;
    }

    .mask_group {
        @include display_none;
    }

    .filler {
        @include display_none;
    }
}
@media only screen and (max-width: 992px ) {
    @include small-screens;
}

@media only screen and (max-width: 767px) {
    @include small-screens;
}


@media only screen and (max-width: 566px) {

    @include small-screens;

    .button-box {
        background: #1492E6 $box-shape;
        box-shadow: 0px 16px 48px #00000029;
        border-radius: 33px;
        width: 50%;
        height: 65px;
    }
    
    .button-text {
        font: $text;
    }
}